<div class="user-profile">
    <div class="avatar">
  <img src="" alt="">
    </div>
    <div class="profile">
      <span>
        <strong>{{person.name}}</strong><br>
        <i>{{person.status}}</i><br>
        <a>{{person.tel}}</a><br>
        <a>{{person.email}}</a>
      </span>
    </div>
  </div>