<p>
  people works!
</p>

 

<hr>

<button *ngIf="!isAddingNewPerson" (click)="isAddingNewPerson= !isAddingNewPerson">Add new person</button>

<form  #f="ngForm"(ngSubmit)="onSubmit(f.value)">
  <div *ngIf="isAddingNewPerson">
    <label>Name</label>
    <input type="text" ngModel name="name">
  </div>
  <div *ngIf="isAddingNewPerson">
    <label>Status</label>
    <input type="text" ngModel name="status">
  </div>
  <div *ngIf="isAddingNewPerson">
    <label>Phone</label>
    <input type="text" ngModel name="phone">
  </div>
  <div *ngIf="isAddingNewPerson">
    <label>Email</label>
    <input type="text" ngModel name="email">
  </div>
  <div *ngIf="isAddingNewPerson">
  <button type="submit">Save</button>
  <button>Cancel</button>
</div>
</form>

{{f.value | json}}



 <div class="user-profile" *ngFor="let person of people">
  <div class="avatar">
<img src="" alt="">
  </div>
  <div class="profile">
    <span>
      <strong>{{person.name}}</strong><br>
      <i>{{person.status}}</i><br>
      <a>{{person.phone}}</a><br>
      <a>{{person.email}}</a>
    </span>
  </div>
</div>
