.user-profile {
    height: 86px;
    width: 350px;
    margin-bottom: 15px;
    border: 2px solid #000000;
    clear: both; 
}

.avatar {
    width: 80px;
    height: 86px;
    border: 1px solid gray;
    float: left;
}

.profile {
    margin-left: 10px;
    display: inline-block;
}

.span {
    display: block;
    padding-bottom: 5px;
}